<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>NodeMongo - Contact</title>

    <!-- Global stylesheets -->
    <% include ./partials/cssOnly %>
    <!-- /global stylesheets -->

    <!-- JS files -->
    <% include ./partials/jsOnly %>
    <!-- JS files -->
</head>

<body class="has-detached-right">

<!-- Page container -->
<div class="page-container">

    <!-- Page content -->
    <div class="page-content">
        <div class="content-wrapper">

            <div class="content">
                <% include ./partials/header %>
                <%- body %>

                <!-- Footer -->
                <% include ./partials/footer %>
                <!-- /Footer -->

            </div>
            <!-- /content area -->
        </div>
        <!-- /Main content -->
    </div>
    <!-- /Page content -->

</div>
<!-- /Page container -->
</body>
</html>
