<% layout('index') %>
<!-- Form horizontal -->
<div class="">
    <div class="panel-body bg-info">
        <div class="text-left col-lg-6">
            <div class="col-lg-6">
                <h4>Create New Order</h4>
            </div>
        </div>
    </div>
        <div class="">
            <div class="col-lg-6 bg-success ">
                <div class="form-group">
                    <label>Search Item</label>
                    <input type="search" id="searchItem" class="form-control" placeholder="Search item"/>
                </div>
                <table class="table table-hover table-striped table-bordered">
                        <tr>
                            <th>Item</th>
                            <th class="text-center">Price</th>
                            <th class="text-center">action</th>
                        </tr>
                    <tbody id="itemBody">
                    </tbody>
                </table>
            </div>
            <div class="col-lg-6 bg-info">
                <form class="" action="/order/store" method="post">
                <div class="form-group">
                    <label>Person Name</label>
                    <input type="" class="form-control" name="name" placeholder="Person name" autocomplete="off" required/>
                </div>
                <div class="form-group">
                    <label>Mobile Number</label>
                    <input type="" class="form-control" name="phone" placeholder="Mobile number" autocomplete="off" required/>
                </div>
                    <table class="table table-hover table-border">
                        <tr>
                            <th>Order item</th>
                            <th class="text-center">Qty</th>
                            <th class="text-center">Price</th>
                            <th class="text-right">action</th>
                        </tr>
                        <tbody id="orderBody">

                        </tbody>
                    </table>
                    <hr/>
                    <div class="col-lg-12">
                        <div class="col-lg-4">
                            <b>Total:</b>
                        </div>
                        <div class="col-lg-4">
                            <input type="hidden" name="total_amt" type="" id="totAmt"/>
                            Rs.<b id="totalAmt">0.00</b>
                        </div>
                        <div class="col-lg-4 text-right">
                            <input type="submit" class="btn btn-success mybtn" value="Place Order"/>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </form>
            </div>
        </div>
</div>
<script>
    var items;
    var totalAmt = 0;
$(document).on('keyup','#searchItem',function(){
      var seacrhItem = $(this).val().toLowerCase();
      $('#itemBody').html('');
      $.each(items, function(index, item){
          var name = item.name.toLowerCase();
          if( name.indexOf(seacrhItem) > -1)
          {
              var jsonn= JSON.stringify(item);
              console.log(jsonn);
              var res = jsonn.replace(/"/g, "'");
              $('#itemBody').append('<tr>\n' +
                  '                            <td>\n' +
                  '                                <div class="item">\n' +
                  '                                    <img src="' + item.thumbnail + '" class="item-img"/>\n' +
                  '                                    <div class="name">' + item.name + '</div>\n'+
                  '                                </div>\n' +
                  '\n' +
                  '                            </td>\n' +
                  '                            <td class="text-center qty-col"><div class="price">Rs: ' + item.amt.toFixed(2) + '</div></td>\n' +
                  '                            <td class="text-center">\n' +
                  '                                <div class="btn-group">\n' +
                  '                                    <a href="javascript:void(0)" data-json="'+res+'" data-id="'+item._id+'" class="btn  add-to-order btn-success">Add to order</a>\n' +
                  '                                </div>\n' +
                  '                            </td>\n' +
                  '  </tr>');
          }
      })
});


$(document).ready(function(){
    $.ajax({
        url: '/item/getitems',
        type: 'GET',
        success: function (res) {
            console.log(res);
            if(res.error == false){
                items = res.items;
                $.each(res.items, function(index, item){
                    var jsonn= JSON.stringify(item);
                    console.log(jsonn);
                    var res = jsonn.replace(/"/g, "'");
                    $('#itemBody').append('<tr>\n' +
                        '                            <td>\n' +
                        '                                <div class="item">\n' +
                        '                                    <img src="'+item.thumbnail+'" class="item-img"/>\n' +
                        '                                    <div class="name">'+item.name+'</div>\n' +
                        '                                </div>\n' +
                        '\n' +
                        '                            </td>\n' +
                        '                            <td class="text-center qty-col"><div class="price">Rs: '+item.amt.toFixed(2)+'</div></td>\n' +
                        '                            <td class="text-center">\n' +
                        '                                <div class="btn-group">\n' +
                        '                                    <a href="javascript:void(0)" data-json="'+res+'" data-id="'+item._id+'" class="btn add-to-order btn-success">Add to order</a>\n' +
                        '                                </div>\n' +
                        '                            </td>\n' +
                        '                        </tr>');
                });
            }
        }
    });
});


$(document).on('click','.add-to-order',function(){
   var jsonitem = $(this).attr('data-json');
   var id = $(this).attr('data-id');
   var res = jsonitem.replace( /'/g, '"');
   var jsonData= JSON.parse(res);
   totalAmt = totalAmt + jsonData.amt;
   $('#totAmt').val(totalAmt);
   $('#totalAmt').html(totalAmt.toFixed(2));
   console.log(jsonData);
   $('#orderBody').append('<tr id="orderrow'+jsonData._id+'">\n' +
       '                            <td>\n' +
       '                                <input type="hidden" name="product_id" value="'+jsonData._id+'"/><img src="'+jsonData.thumbnail+'" width="50" />\n' +
       '                            </td>\n' +
       '                            <td class="text-center qty-col">\n' +
       '                            <input type="hidden" name="qty" value="1"/>\n'+
       '                                <a href="javascript:void(0)" data-id="'+jsonData._id+'" class="btn btn-primary mybtn minus">-</a><b class="btn btn-default mybtn">1</b><a href="javascript:void(0)" class="btn btn-primary mybtn cplus">+</a>\n' +
       '                            </td>\n' +
       '                            <td class="text-center">\n' +
       '                                Rs.'+jsonData.amt.toFixed(2)+'\n' +
       '                            </td>\n' +
       '                            <td class="text-right">\n' +
       '                                <a class="btn btn-danger remove-from-order" data-price="'+jsonData.amt+'" data-id="'+jsonData._id+'">X</a>\n' +
       '                            </td>\n' +
       '                        </tr>');
});
function addCommas(nStr)
    {
        nStr += '';
        x = nStr.split('.');
        x1 = x[0];
        x2 = x.length > 1 ? '.' + x[1] : '';
        var rgx = /(\d+)(\d{3})/;
        while (rgx.test(x1)) {
            x1 = x1.replace(rgx, '$1' + ',' + '$2');
        }
        return x1 + x2;
    }
    $(document).on('click', '.remove-from-order',function(){
        var id = $(this).attr('data-id');
        var price = $(this).attr('data-price');
        totalAmt = totalAmt - price;
        $('#totAmt').val(totalAmt);
        $('#totalAmt').html(totalAmt.toFixed(2));
        $('#orderrow'+id).remove();
    })
</script>