<% layout('index') %>

<!-- Form horizontal -->
<div class="container">
    <div class="panel-body bg-info">
        <div class="text-left col-lg-6">
            <div class="col-lg-6">
                <h4>Contacts</h4>
            </div>
        </div>
        <div class="text-right col-lg-6">
            <a href="/contact/add" class="btn btn-primary">Add new contact</a>
        </div>
    </div>
    <form class="bg-info" action="/contact" method="post">
         <div class="col-lg-6 bg-danger">
             <div class="form-group">
                 <label>First Name</label>
                 <input type="text" class="form-control" name="firstName" required/>
             </div>
             <div class="form-group">
                 <label>Last Name</label>
                 <input type="text" class="form-control" name="lastName" required/>
             </div>
             <div class="form-group">
                 <label>Company</label>
                 <input type="text" class="form-control" name="company" required/>
             </div>
             <div class="form-group">
                 <label>District</label>
                 <input type="text" class="form-control" name="district" required/>
             </div>
             <div class="form-group">
                 <label>Country</label>
                 <input type="text" class="form-control" value="India" name="country" required readonly/>
             </div>
         </div>
        <div class="col-lg-6 bg-danger">
            <div class="form-group">
                <label>Email</label>
                <input type="text" class="form-control" name="email" required/>
            </div>
            <div class="form-group">
                <label>Phone</label>
                <input type="number" class="form-control" name="phone"/>
            </div>
            <div class="form-group">
                <label>P.O</label>
                <input type="text" class="form-control" name="po" required/>
            </div>
            <div class="form-group">
                <label>State</label>
                <input type="text" class="form-control" name="state" required/>
            </div>

            <div class="form-group">
                <label>&nbsp;</label>
                <input type="submit" class="btn btn-success" value="save" width="100%"/>
            </div>
        </div>
    </form>

</div>